header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #222;
    margin-bottom: 50px;
}
ul{
    display: flex;
    list-style: none;
}
li{
    margin-left: 15px;
    color: white;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}
.menu, .logo{
    color: white;
}